*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.txt.*
*.txt
*.log
*.log.*

triceratops_quadruped_robot/triceratops_base/__pycache__/DXL_motor_control.cpython-310.pyc
triceratops_quadruped_robot/triceratops_base/__pycache__/Gait_controller.cpython-310.pyc
triceratops_quadruped_robot/triceratops_base/__pycache__/log.cpython-310.pyc
triceratops_quadruped_robot/triceratops_base/__pycache__/Stance_controller.cpython-310.pyc
triceratops_quadruped_robot/triceratops_base/__pycache__/Swing_controller.cpython-310.pyc
triceratops_quadruped_robot/triceratops_base/__pycache__/Triceratops_Config.cpython-310.pyc
triceratops_quadruped_robot/triceratops_base/__pycache__/Triceratops_FK.cpython-310.pyc
triceratops_quadruped_robot/triceratops_base/__pycache__/Triceratops_IK.cpython-310.pyc
